#num1 {
	padding: 20px;
	font-weight: bolder;
	font-size: 25px;
	width: 40%;
	border-radius: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
}
#num1:focus, {
	outline: none;
	border: 2px solid #ccc;
	background-color: white;
}
button:focus {
    outline: none;
}
